core/output/*
workspace/*
exps/*
core/__pycache__/*
mvdream/__pycache__/*
__pycache__/*
monodepth2/*
models/*
diff-gaussian-rasterization/**.pt
*.safetensors
*.pt
*.ckpt
*.bin
*.csv
#*.safetensors --- IGNORE ---